@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --azul-principal: #0A3871;
    --fundo: #F3F5FC;
    --branco: #FFFFFF;
    --cor-hover1: #0a3871c5;
    --cor-hover2: #D8DFE8;

    --fonte: "Inter", sans-serif;
}

body {
    background: var(--fundo);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

.cabecalho_pagina {
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 0% 2%;
}

.cabecalho_pagina img {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container_input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 10%;
}

.container_input .input{
    width: 400px;
    height: 330px;
}

.texto_entrada {
    background: var(--fundo)!important;
}

.texto_saida {
    background-color: var(--branco)!important;
}

textarea {
    resize: none;
}

#input-texto {
    /* width: 345px; */
    height: 330px;
    font-size: 32px;
    font-weight: 400;
    color: var(--azul-principal);
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 32px;
}

.alerta {
    margin-top: auto;
    display: flex;
    gap: 8px;
    width: 15%;
    padding-left: 20%;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
}

#output {
    display: flex;
    flex-direction: column;
    background: var(--branco);
    border-radius: 32px;
    width: 350px;
    height: 650px;
    margin-right: 3%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#output h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--azul-principal);
}

#output span {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#output img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-top: 30%;
}

.container-btn button{
    background: var(--azul-principal);
    border-radius: 24px;
    text-decoration: none;
    color: var(--branco);
    width: 320px;
    height: 60px;
    margin-left: 20%;
    cursor: pointer;
}

.container-btn button.btn-descriptografar{
    background: var(--fundo);
    border-radius: 24px;
    border: 2px solid var(--azul-principal);
    text-decoration: none;
    color: var(--azul-principal);
    font-weight: 400;
    width: 320px;
    height: 60px;
    margin-left: 5%;
    cursor: pointer;
}

.btn-copiar {
    background: var(--branco);
    border: 2px solid var(--azul-principal);
    border-radius: 24px;
    text-decoration: none;
    color: var(--azul-principal);
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-btn button:hover {
    border: 2px solid var(--fundo);
    transition: 0.5s;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    background: var(--fundo);
    color: var(--azul-principal);
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon {
    width: 25px;
    height: 25px;
    color: var(--azul-principal);
}

.icons ion-icon:hover {
    color: var(--cor-hover1);
}